
<header>
    <div>
        CODIAL
    </div>
    <div>
        <% if(locals.user){%>
            <span>
                <%= user.name %>
            </span>
            <span>
                <a href="/users/signout">Signout</a>
            </span>
        <% }else{ %>
            <span>
                <a href="/users/signin"> Signin</a>
            </span>
            <span>
                <a href="/users/signup"> Signup</a>
            </span>
            <%}%>
    </div>
</header>