
<header>
    <div>
        CODIAL
    </div>
        <% if(locals.user){%>
            <span>
                <%= user.name %>
            </span>
            <span>
                <a href="/users/signout">Signout</a>
            </span>
        <% }else{ %>
            <span>
                <a href="/signin"> Signin</a>
            </span>
            <span>
                <a href="/signup"> Signup</a>
            </span>
            <%}%>
</header>