
<link rel="stylesheet" href="css/home.css">

<h1>
    Home Page
</h1>
<% if(locals.user){%>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/createpost" method="POST" id="newpostform">
        <textarea name="content" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<%}%>