<html>
    <head>
        <%- style %>
        <title>
            tit
        </title>
        <link rel="stylesheet" type="text/css" href="css/layout.css">
    </head>
    <body>
        <%- include('_header'); -%>
    <%- body %>
    <%- script %>
    </body>
</html>