<link rel="stylesheet" href="./css/signup.css">
<h1>Sign Up</h1>
<form action="/users/create" method="POST">
    <input type="text" placeholder="Name" name="name" required>
    <input type="email" placeholder="email" name="email" required>
    <input type="password" placeholder="Password" name="password" required>
    <input type="password" placeholder=" Confirm Password" name="ConfirmPassword" required>
    <button type="submit">Create Account</button>
</form>