<link rel="stylesheet" href="../assets/css/signup.css">
<form action="createSession"  method="POST">
    <h1>Sign In</h1>
    <input type="email" placeholder="email" name="email" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit"> Login</button>
</form>